.todo-list {
  width: 600px;
  display: flex;
  flex-direction: column;

  h3 {
    width: 100%;
    border-bottom: 2px solid #0000;
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list-item {
    width: 100%;
    border-bottom: 1px solid #cccc;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid red;
  border-color: red transparent red transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
