.add-task-cont{
  width: 600px;
  padding: 40px 12px;  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;

  .input {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .add-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    background-color: royalblue;
  }
}